.landingContainer {
    background-image: url("@/public/background1.png");
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.pageHeader {

    animation: fadeInUp 0.8s ease forwards;
    opacity: 0;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.pageHeader p{
    margin-top: 10px;
    font-size: 1em;
    color: gray !important;
    text-align: center;
}

.nameHighlight {
    cursor: pointer;
    color: var(--highlight);
    transition: all 0.2s ease;
}

.nameHighlight:hover{
    text-shadow: 0 0 10px var(--highlightGlow);
}

@media (max-width: 600px){
    .pageHeader{
        font-size: 1.2em;
    }
    .pageHeader p{
        max-width: 95vw;
    }
}

