.connectFormContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
}

.connectFormContainer h1{
    margin-bottom: 4px;
}


.connectHeader{
    display: flex;
    align-items: center;
    gap: 6px;
    
}

.sendIcon{
    cursor: pointer;
    color: var(--highlight);
    transition: transform 0.3s ease-in-out;
}

.sendIcon:hover {
    transform: rotate(-15deg) scale(1.1);
}

.sendIcon.isAnimating {
    animation: flyAway 2s linear forwards;
    offset-path: path("M0,0 C150,-120 150,-240 0,-240 C-150,-240 -150,-120 150,0 L800,200" 
    );
    offset-rotate: auto 25deg; 
}

.contactContainer{
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 14px;
    box-shadow: 0px 2px 4px rgb(97, 97, 97);
    /* background-color: rgba(255, 255, 255, 0.4); */
    backdrop-filter: blur(10px);
    padding: 10px;
    align-items: center;
}

.contactContainer h3{
    font-size: 0.8em;
    font-weight: 400;
}

.contactInfoIcon{
    color: var(--highlight);
}

.socialMedia{
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    gap: 10px;
}

.contactInfo{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 2px solid gray;
    padding: 6px;
    border-radius: 14px;
    display: flex;
    gap: 30px;
    margin-bottom: 8px;
    transition: all 0.2s ease;
}

.contactInfo:hover{
    border-color: var(--highlight);

}

.contactItem{
    display: flex;
    cursor: pointer;
    gap: 6px;
    align-items: center;
}

@keyframes flyAway {
    0% {
        offset-distance: 0%;
        opacity: 1;
        transform: scale(1);
    }
    /* 80% {
        offset-distance: 80%;
        opacity: 1;
        transform: scale(1);
    } */
    100% {
        offset-distance: 100%;
        opacity: 1;
        transform: scale(0.7);
    }
}

@media (max-width: 800px){
    .contactContainer{
        width: 97vw;
    }
}


