.workExperienceWrapper{
    background-image: url("@/public/blue.jpg");
    background-size: cover;
    background-position: center;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}

.workExperienceContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.workExperienceHeader{
    margin-bottom: 10px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 6px;
}

.workExperienceIcon{
    cursor: grab;
    color: var(--highlight);
    transform-style: preserve-3d;
    z-index: 20;
}

.workExperienceIcon:active{
    cursor: grabbing;
}

.wobble {
    animation: wobble 0.5s infinite ease-in-out;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.workContainer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid gray;
    border-radius: 14px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 4px rgb(97, 97, 97);
    backdrop-filter: blur(30px);
}

.cardContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experienceContainer{
    /* border: 2px solid rgb(255, 170, 0);
    max-width: 65%; */
    min-height: 630px;
    border-radius: 8px;
}



@media (max-width: 900px) {
    .workExperienceContainer{
        max-width: 97vw;
        font-size: 0.9em;
    }
}

@media (max-width: 700px) {
    .workExperienceContainer{
        max-width: 97vw;
        font-size: 0.8em;
    }

}

@media (max-height: 600px) {
    .workExperienceWrapper{
        min-height: 260vh;
    }


}
