.aboutMeContainer{
    height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMeHeader{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.aboutMeWaving{
    cursor:grab;
    transform: rotate(30deg);
    transition: all 0.2s ease;
    color: rgb(255, 170, 0);
}

.aboutMeWaving:hover{
    animation: wave-animation 1s infinite;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(30deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}

.highFiving{
    cursor: grab;
    color: rgb(255, 170, 0);
    animation: high-five 0.2s 
}

@keyframes high-five {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

.aboutMeBody{
    display: flex;
    gap: 10px;
    max-width: 1000px;
}
.aboutMeImage{
    height: 240px;
    border-radius: 10px;
}

@media(max-width: 800px){
    .aboutMeBody{
        max-width: 95vw;
    }
}